// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#909399; // 侧边栏字体颜色
$menuActiveText:#3a63c8; //侧边栏选中字体颜色
$subMenuActiveText:#3a63c8; //侧边栏选中子级时父级的颜色

$menuBg:#fff;  
$menuHover:#f3f6fd;

$subMenuBg:#fff;
$subMenuHover:#f3f6fd;

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
